<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="parallel">
            <test name="Emulator">
             <parameter name="deviceName" value="Mayank Maurya" />
             <parameter name="udid" value="JCAAGF047815M9G" />
             <parameter name="platformVersion" value="9.0" />
             <parameter name="url" value="http://127.0.0.1:4723/wd/hub" />

                        <classes>
                                    <class name="testScripts.TestScript"/>
                        </classes>
            </test>
</suite>
